/* transition.css */

.fade-enter {
    opacity: 0;
    transform: translateY(20px); /* Start slightly below */
}

.fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

.fade-exit {
    opacity: 1;
    transform: translateY(0);
}

.fade-exit-active {
    opacity: 0;
    transform: translateY(-20px); /* Move slightly above */
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}
