.noanimationbutton {
    position: relative;
    overflow: hidden;
    border: 2px solid #18181a;
    color: #18181a;
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
    line-height: 15px;
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    user-select: none;
    width: 100%; /* Fixed width */
    height: 50px; /* Fixed height (optional) */
    -webkit-user-select: none;
    touch-action: manipulation;
}

.noanimationbutton span:first-child {
    position: relative;
    z-index: 10;
}

.noanimationbutton span:last-child {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
    padding-top: 6px;
}

/* Removed :after styles and hover effects */
